*{
    padding: 0;
    margin: 0;
}

.card-class{
    display: grid;
    grid-template-columns: 400px 400px;
    row-gap: 40px;
    column-gap: 200px;
}


/* responsiveness */

/*TABLET */
@media (max-width: 900px){
    .card-class{
        display: grid;
        grid-template-columns: 200px 200px;
        column-gap: 80px;
    }

}

/*PHONE */
@media (max-width: 412px){
    .card-class{
        display: grid;
        grid-template-columns: 200px 200px;
        column-gap: 100px;
    }
}